// Mobile
* {
    padding: 0;
    margin: 0;
}
.Intro {
    .avatar{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 15vw;
        // color: yellow;
        
        h3 {
            margin-bottom: 3vw;
            font-size: 8vw;
            color: #FF9B9B;
            // font-family: Montserrat;
        }

        #imgLyna{
            width: 35vw;
            border-radius: 50%;
            // z-index: 10;
        }

        #imgIntro{
            display: none;
        }
 
    }

    .magic {
        display: none;
        // img{
        //     position: absolute;
        //     margin-top: -45vw;
        //     margin-left: 25vw;
        //     width: 50vw;
        // }
    }

    .desc {
        display: flex;
        justify-content: center;
        align-items: center;

        ul {    

            text-decoration: none;
            list-style: none;
            margin: 2vw;
            

            li {
                margin: 2vw 0;
                font-size: 4vw;
                // font-family: Montserrat;

                animation-duration: 2s;
                animation-name: bounceIn;
                animation-timing-function: ease-in-out;

                .fleur {
                    width: 2.5vw;
                }

                // .pt2 {
                //     width: 3.2vw;
                //     border: 1px solid red;
                // }

                .fleur:nth-child(2){
                    width: 3.2vw;
                    // border: 1px solid red;
                }
            }

            @keyframes bounceIn {
                0% {
                  transform: scale(0.1);
                  opacity: 0;
                }
                60% {
                  transform: scale(1.2);
                  opacity: 1;
                }
                100% {
                  transform: scale(1);
                }
            }

            @keyframes opaAni {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }
    }

    .deco {
        z-index: -1000;
        animation-name: opaAni;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        .decoG{
            position: absolute;
            width: 25vw;
            left: 0;
            margin-top: -45vw;
        }

        .decoD{
            position: absolute;
            width: 25vw;
            right: 0;
            margin-top: -45vw;
            
        }
        animation-name: oppAnim;
        animation-iteration-count: infinite;
        animation-duration: 20s;
        animation-timing-function: ease-in-out;
    }

    @keyframes oppAnim {
        0%{
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
}

//tablette
@media (min-width: 800px) {
    .Intro {
        .avatar {
            margin-top: 7vw;

            h3 {
                font-size: 4.5vw;
                padding: 0;
                margin: 1.5vw;
                // border: 1px solid red;
            }

            #imgLyna {
                width: 20vw;
                z-index: 2
            }

            #imgLyna:hover{
                animation-name: transLyna;
                animation-duration: 3s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
            }
    
            #imgLyna:hover ~ #imgIntro{
                animation-name: transIntro;
                animation-duration: 3s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
            }
    
            #imgIntro {
                display: block;
                position: absolute;
                margin-top: 3vw;
                width: 19vw;
                margin-left: 0.3vw;
            }
    
            @keyframes transLyna {
                0% {
                    transform: translateX(0);
                }
                100% {
                    transform: translateX(-9vw);
                }
            }
    
            @keyframes transIntro {
                0% {
                    transform: translateX(0);
                }
                100% {
                    transform: translateX(9vw);
                }
            }

        }

        .desc {
            ul {
                margin: 1.5vw;
                li{
                    font-size: 3vw;
                    // border: 1px solid red;
                    margin: 1.5vw;
                    animation-duration: 2s;
                    animation-name: bounceIn;
                }
            }
        }

        .deco {
            // z-index: -1000;
            .decoG{
                margin-top: -30vw;
            }
    
            .decoD{
                // width: 30vw;
                margin-top: -30vw;
            }
        }
    }
}


// grand ecran
@media (min-width: 1200px){
    .Intro {
        height: 100vh;
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .avatar {
            margin-top: 3vh;
            #imgLyna {
                width: 15vw;
                z-index: 2;
                // margin: 2vw;
                // z-index: 0;
                // position: absolute;
            }

            #imgIntro{
                margin-top: 4vw;
                width: 17vw;
                margin-right: 1.5vw;
            }

            h3{
                margin-top: 5vw;
                font: 3.5vw;
            }
        }

        .desc {
            ul {
                li {
                    margin: 2vh;
                    font-size: 2vw;
                    animation: bounceIn; /* referring directly to the animation's @keyframe declaration */
                    animation-duration: 2s; /* don't forget to set a duration! */
                    // animation: 3s ease-in 1s infinite reverse both running slidein;
                }
            }
        }

        // .magic {
        //     display: block;
        //         img{
        //             position: absolute;
        //             margin-top: -21vw;
        //             margin-left: -12vw;
        //             width: 25vw;
        //         }
        //     }
        // }
        // .magic {
        //     display: block;
        //     border: 1px solid red;
        //     // display: none;
        //     z-index: 1;
        //     img{
        //         position: absolute;
        //         margin-top: -21vw;
        //         margin-left: -12vw;
        //         width: 25vw;
        //     }
        // }

        .deco {
            z-index: 0;
            border: 1px solid red;
            .decoG{
                width: 25vw;
                margin-top: -30vw;
                // position: absolute;
            }
    
            .decoD{
                width: 25vw;
                margin-top: -30vw;
                // position: absolute;
            }
        }
    }
}