// Mobile
* {
    padding: 0;
    margin: 0;
}
.Intro {
    .avatar{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 15vw;
        // color: yellow;
        
        h3 {
            margin-bottom: 2vw;
            font-size: 4.5vw;
        }

        #imgLyna{
            width: 35vw;
            border-radius: 50%;
        }
    }

    .desc {
        display: flex;
        justify-content: center;

        ul {    

            text-decoration: none;
            list-style: none;
            margin: 2vw;

            li {
                margin: 2vw 0;
                font-size: 3vw;
                font-family: Montserrat;

                .fleur {
                    width: 3vw;
                }

                // .pt2 {
                //     width: 3.2vw;
                //     border: 1px solid red;
                // }

                .fleur:nth-child(2){
                    width: 3.2vw;
                    // border: 1px solid red;
                }
            }
        }
    }
}

//tablette
@media (min-width: 800px) {
    .Intro {
        .avatar {
            margin-top: 7vw;

            h3 {
                font-size: 3vw;
                padding: 0;
                margin: 1.5vw;
                // border: 1px solid red;
            }

            #imgLyna {
                width: 20vw;
            }
        }

        .desc {
            ul {
                margin: 1.5vw;
                li{
                    font-size: 2vw;
                    // border: 1px solid red;
                    margin: 1.5vw;
                }
            }
        }
    }
}


// grand ecran
@media (min-width: 1200px){
    .Intro {
        height: 100vh;
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .avatar {
            margin-top: 2vh;
            #imgLyna {
                width: 15vw;
            }
        }

        .desc {
            ul {
                li {
                    margin: 1.2vh;
                    font-size: 2vw;
                }
            }
        }
    }
}