@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
.Projet {
    margin-top: 3vw;
    // border: 1.5px solid rgba(255, 179, 179, 1);
    padding: 1.3vw;
    width: 62.7vw;
    background-color: #daceff;
    box-shadow: 1px 1px 5px 2px rgba($color: #bbb2d6, $alpha: 0.5);
    font-family: Indie Flower;

    img {
        width: 60vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titrePrj {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2vw;
        font-family: Indie Flower,Montserrat;

        p{
            font-size: 2vw;
            flex-wrap: wrap;
            // font-family: Roboto;
            // flex-wrap: wrap;
        }
    }

    a{
        color: #fc7676
    }

    a:hover{
        color: #FF9B9B;
    }

    .descPrj {
        margin-top: 2vw;
        font-weight: bold;
        // text-decoration: underline;
        font-family: Indie Flower, Montserrat;

        p{
            font-weight: normal;
            font-family: Gaegu, Indie Flower;
        }
    }

    .outils {
        margin-top: 3vw;
        font-family: Indie Flower, Montserrat;
        font-weight: 400;
    }
}

// Tablette 
@media (min-width: 800px) {
    .Projet {
        // img{
        //     width: 25vw;
        // }
        .titrePrj {
            p {
                font-size: 2vh;
            }
        }
    }
}

// Grand Ecran 
@media (min-width: 1200px) {
    .Projet {
        .titrePrj {
            p {
                font-size: 2.5vh;
            }
        }
    }
}