@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
.Projet {
    margin-top: 3vw;
    // border: 1.5px solid rgba(255, 179, 179, 1);
    padding: 1.3vw;
    width: 62.7vw;
    background-color: #ccbbff;
    box-shadow: 1px 1px 5px 2px rgba($color: #bbb2d6, $alpha: 0.5);
    // font-family: Indie Flower;

    img {
        width: 60vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titrePrj {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2vw;
        font-size: 3vw;
        // color: #ffa7a7;
        // font-family: Indie Flower,Montserrat;
    }

    a{
        color: white;
    }

    a:hover{
        color: #ffbdbd;
    }

    .descPrj {
        margin-top: 2vw;
        font-weight: bold;
        // text-decoration: underline;
        font-family: Indie Flower, Montserrat;

        p{
            font-weight: normal;
            font-family: Indie Flower, Montserrat;
            font-size: 3vw;
        }
    }

    .outils {
        margin-top: 3vw;
        // font-family: Indie Flower, Montserrat;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        p{
            margin: 1.5vw 0;
            flex-wrap: wrap;
        }
    }
}

// Tablette 
@media (min-width: 800px) {
    .Projet {
        // img{
        //     width: 25vw;
        // }
        .titrePrj {
            font-size: 3.2vw;
        }

        a{
            font-size: 3vw;
        }

        .descPrj{
            font-size: 3vw;
            p{
                font-size: 2.8vw;
            }
        }

        .outils{
            p{
                font-size: 2.5vw;
                margin: 1vw 0;
            }
        }
    }
}

// Grand Ecran 
@media (min-width: 1200px) {
    .Projet {
        // img{
        //     width: 25vw;
        // }
        .titrePrj {
            font-size: 2.5vw;
        }

        a{
            font-size: 2vw;
        }

        .descPrj{
            font-size: 2.2vw;
            p{
                font-size: 2vw;
            }
        }

        .outils{
            p{
                font-size: 1.8vw;
                margin: 0.5vw 0;
            }
        }
    }
}