@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    *, *::after, *::before {
        box-sizing: inherit;
    }
    font-size: 18px;
    background-color: #FEE8E8;
    font-family: Roboto;

    .cache {
        display: none;
    }
}