@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,300&family=Roboto&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    *, *::after, *::before {
        box-sizing: inherit;
    }
    font-size: 18px;
    background-color: #ffd6d6;
    font-family: Roboto, Montserrat;

    .cache {
        display: none;
    }
}